*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(gk.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

ul{
    float: right;
    list-style-type: none;
    margin: 20px;
}
ul li{
    display: inline-table;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}
ul li a:hover{
    background-color: white;
}
ul li.history a{
    background-color: magenta;
}
ul li.cooking a{
    background-color: cyan;
}
ul li.news a{
    background-color: lightgreen;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    margin: 10px;
}



